* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "poppins", sans-serif;
}

.container {
	width: 100%;
	height: 100vh;
	background-color: #222831;
	display: flex;
	justify-content: center;
	align-items: center;
}

#form {
	background-color: #393e46;
	display: flex;
	flex-direction: column;
	padding: 2vw 3vw;
	width: 70%;
	max-width: 500px;
	border-radius: 15px;
}

#form-title {
	color: #2ad1a7;
	font-weight: 800;
	margin-bottom: 22px;
	text-align: center;
	font-size: 1.6rem;
}

form input,
form textarea {
	border: 1px solid black;
	margin: 10px 0;
	padding: 10px;
	background-color: #f2f2f2;
	font-size: 16px;
}

form button {
	padding: 15px;
	background-color: #1e8033;
	color: #f2f2f2;
	font-size: 18px;
	border: 1px solid black;
	cursor: pointer;
	width: 40%;
	margin: 10px auto 0;
	border-radius: 10px;
	transition: 0.3s ease;
}

form button:hover {
	background-color: #008060;
}

input,
#text-area:focus {
    transition: 1s ease;
}

input:focus,
#text-area:focus {
	background: #fff;
	outline: 0;
	box-shadow: 0 0 0 0 #fff inset, #1de9b6 0 0 0 2px;
}

.notification {
	z-index: 1;
	position: fixed;
	display: none;
	width: 27%;
}

.toast {
	position: relative;
	padding: 10px;
	color: #fff;
	margin-bottom: 10px;
	width: 100%;
	height: 150px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	border-radius: 5px;
	background-color: #008060;
	animation: show 0.3s ease 1 forwards;
}

.toast i:first-child {
	font-size: 50px;
	color: #f2f2f2;
}

.toast i {
	font-size: 30px;
	color: #0abf30;
}

.toast i:not(:first-child):hover {
	color: #f2f2f2;
}

.alert-title {
	font-size: large;
	font-weight: bold;
	display: flex;
	align-self: flex-start;
}

.alert-message {
	font-size: 0.8rem;
	margin-top: 10px;
}

.toast::before {
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: #0abf30;
	width: 100%;
	height: 10px;
	content: "";
	box-shadow: 0 0 10px #0abf30;
	animation: timeOut 5s linear 1 forwards;
}

@keyframes show {
	0% {
		transform: translateX(100%);
	}
	40% {
		transform: translateX(-5%);
	}
	80% {
		transform: translateX(10%);
	}
	100% {
		transform: translateX(0%);
	}
}

@keyframes timeOut {
	to {
		width: 0;
	}
}
